.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 140px);
  grid-auto-rows: 140px;
  gap: 16px;
}

.grid-item {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #999;
}

.grid-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.3s ease-out;
  /* transition-delay: 2s; */
}

.grid-image.open {
  /* visibility: visible; */
  opacity: 1;
}
