.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
}

.form button {
  width: 100%;
}

.grid {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px;
}

.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 6;
  object-fit: cover;
}
